/* src/components/Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    padding-right: 10%;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.logo{
    width: 20%;
    height: 20%;
    display: inline-block;
}

